<%= form_for @post do |f| %>
	<% if @post.errors.any? %>
		<div class="alert alert-info" role="alert">
			<h2><%= pluralize(@post.errors.count,"error") %> prevented this post from saving</h2>
				<ul>
					<% @post.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
					<% end %>
				</ul>
		</div>
	<% end %> 
	<p>
		choice category:<br>
		<%= f.collection_select :category_id, Category.all, :id, :name %>
	</p>
	<p>
		Title:<br>
		<%= f.text_field :title, size: "100" %>
	</p>

	<p>
		Body:<br>
		<%= f.text_area :body, :class => "tinymce", size: "40 x 20 "%>
		<%= tinymce %>
	</p>

	<p>
		<%= f.submit %>
	</p>

<% end %>