


<div id="main-post">
	<div class="post">
		<div class="post-header">
			<div class="title">
				<%= @post.title %>
				<div class="post-info">
				<%= @post.created_at.strftime("%Y-%m-%d %H:%M") %>
				</div>
			</div>

			
		</div>
		<div class="body">
			<%= @post.body.html_safe %>
		</div>
	</div>

	


	Total <%= @post.comments.count %> comments

	<hr>
	<div class="comments">
	<%= render @post.comments %>
	</div>
	add a comment:
	<%= render 'comments/form' %>
	

</div>




