<!DOCTYPE html>
<html>
<head>
  <title>NewBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'home', root_path %>
<%= link_to 'New Post', new_post_path %>
<%= link_to 'New category', new_category_path %>
<%= link_to 'All categories', categories_path %>
<hr>
<% Category.all.each do |category| %>
	<%= link_to category.name, posts_path(category: category.name) %>
<% end %>
<%= yield %>

</body>
</html>
