<!DOCTYPE html>
<html>
<head>
  <title>Jimmy's Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div id="nav">
	<div class="nav-left">
		<div class="logo">Blog</div>
	</div>
	<div class="nav-right">
		<ul>
			<li><%= link_to 'home', root_path %></li>
			<% if user_signed_in? %>
				<li><%= link_to 'admin', admin_index_path %></li>
			<% end %>
		</ul>
	</div>
</div>


<div class="alert alert-info" role="alert"><%= notice %></div>
<div class="alert alert-warning" role="alert"><%= alert %></div>



<hr>


<% Category.all.each do |category| %>
	<%= link_to category.name, posts_path(category: category.name) %>
<% end %>
<%= yield %>

</body>
</html>
