<!DOCTYPE html>
<html>
<head>
  <title>Jimmy's Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
<div id="main-body">
	<nav class="navbar ">
		<div class="container-fluid">
			<div id="nav">
		<div class="nav-left">
			<a class="navbar-brand" href="#">Jimmy's Blog</a>
		</div>
		<div class="navbar-right">
			<ul class="nav navbar-nav navbar-right">
				<li><%= link_to 'Home', root_path %></li>
				<% if user_signed_in? %>
					<li><%= link_to 'Admin', admin_index_path %></li>
				<% end %>
			</ul>
		</div>
	</div>
		</div>
	</nav>

	<!-- 
	<div class="alert alert-info" role="alert"><%= notice %></div>
	<div class="alert alert-warning" role="alert"><%= alert %></div>
	 -->

<div id="sidebar">
	<div class="sidebar-content">
		<div class="sidebar-title">Category</div>
		<% Category.all.each do |category| %>
		<ul class="category-list">
			<li><%= link_to category.name, posts_path(category: category.name) %></li>
		</ul>
  	<% end %>
  </div>
  
</div>

	<%= yield %>

</div>
</body>
</html>
